.hero{
    padding-top: 153px;
    padding-bottom: 152px;
    background-image: url('/img/hero__bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &__card {
        display: flex;
        flex-direction: column;
        position: relative;
        .hero__title {
            font-family: 'Space Mono';
            max-width: 500px;
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -2.5px;
            color: #FFFFFF;
        }
        .hero__card-wrapper{
            margin-left: 95px;
            &::before{
                position: absolute;
                width: 1000px;
                top: 192px;
                left: -963px;
                border-top: 15px solid #FCB72B;
                content: '';
            }
            &::after{
                position: absolute;
                background-image: url('/img/hero__after.svg');
                background-position: center;
                background-repeat: no-repeat;
                width: 450px;
                height: 150px;
                top: 193px;
                left: 540px;
                content: '';
            }
            .hero__text {
                padding: 40px 0px;
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                max-width: 405px;
                color: #FFFFFF;
            }
            .hero__btn {
                border: 3px solid #FCB72B;
                padding: 11.4px 37px;
                background: #FCB72B;
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #FFFFFF;
                font-family: 'Space Mono';
                transition: all .5s ease;
                &:hover{
                    color: #FCB72B;
                    background-color: transparent;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .hero {
        background-position: 50%;
        padding-top: 137px;
        padding-bottom: 217px;
        .container{
            max-width: 748px;
            margin: 0 auto;
            padding: 0 20px;
            .hero__card{
                align-items: center;
                .hero__title{
                    text-align: center;
                }
                .hero__card-wrapper{
                    margin-left: 0px;
                    text-align: center;
                    &::before{
                        content: none;
                    }
                    &::after{
                        top: 328px;
                        left: -155px;
                    }
                    .hero__text{
                        padding: 24px 0px 32px;
                        max-width: 573px;
                    }
                }
                
            }
            
        }
    }
}