.header {
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0 21px;
        .hamburger{
            display: none;
        }
        .header__wrapper-t{
            display: flex;
            align-items: center;
            .header__nav{
                display: flex;
                .header__list {
                    display: flex;
                    transition: all 0.4s ease;
                    padding-left: 25.18px;
                    .header__item {
                        padding-left: 32px;
                        .header__text {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 25px;
                            color: #939CAA;
                            &:hover{
                                color: #FCB72B;;
                            }
                        }
                    }
                }
            }
        }
        .header__btn {
            background: #FCB72B;
            border: 3px solid #FCB72B;
            padding: 11.4px 37px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            transition: all 0.4s ease;
            &:hover{
                color: #FCB72B;
                background-color: #FFFFFF;
            }
        }
    }
}
@media only screen and (max-width: 426px) {
    .header {
        &__wrapper{
            .hamburger{
                display: block;
            }
            .header__wrapper-t{
                .header__nav{
                    .header__list {
                        display: block;
                        z-index: 10;
                        position: absolute;
                        background-color: #333A44;
                        padding-top: 64px;
                        padding-left: 32px;
                        height: 100%;
                        width: 256px;
                        top: 77.6px;
                        left: -256px;
                        opacity: 0;
                        .header__item {
                            padding-left: 0;
                            padding-bottom: 24px;
                        }
                    }
                    .isOpen{
                        left: 0px;
                        opacity: 1;
                    }
                }
            }
            .header__btn {
                position: absolute;
                bottom: 24px;
                left: -234px;
                z-index: 10;
                opacity: 0;
            }
            .openBtn {
                left: 32px;
                opacity: 1;
            }
        }
    }
}