.footer{
    background-color: #333A44;
    padding: 36px 0 35px;
    .footer__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer__wrapper-t{
            display: flex;
            align-items: center;
            .footer__list {
                display: flex;
                padding-left: 25.18px;
                .footer__item {
                    padding-left: 32px;
                    .footer__text {
                        font-family: 'Space Mono';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 25px;
                        color: #939CAA;
                        &:hover{
                            color: #FCB72B;
                        }
                    }
                }
            }
        }
        .footer__icons {
            img{
                margin-right: 24px;
            }
            
        }
    }
}
@media only screen and (max-width: 768px) {
    .header {
        padding: 0 0px;
        .container{
            max-width: 748px;
            margin: 0 auto;
            padding: 0 20px;
        }
    }
}
